* {
    margin: 0;
    padding: 0;
}

.home {
    display: flex;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
}

button:hover {
    background-color: #e9e9e9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #f1f1f1;
}

